<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK rel="Stylesheet"  href="/css/prueba.css">
    <title>Inicio</title>
  
</head>



<body>
    
  <div>
    <p>buscador</p> <h2>Biiografías online</h2>  
    <h1>Heroes de la programación</h1>
 
   
    <h2>El mundo de la programación ha sido desde siempre muy importate para la sociedad, a dia de hoy nada sería como lo conocemos de no ser por los programadores, por eso en este sitio conmemoramos a varios de los personajes más influyentes de nuestra comunidad.</h2>
   
        <a href="/babbage" target="blank">Babbage</a>
        <a href="/berners-lee" target="blank">Barners Lee</a>
        <a href="/clarke"target="blank">Clarke</a>
        <a href="/hamilton"target="blank">Hamillton</a>
        <a href="/hopper"target="blank">Hopper</a>
        <a href="/lovelace"target="blank">Lovelace</a>
        <a href="/turing"target="blank">Turing</a><br><br>
       
    </div>
</body>


</html>
