body {
    background-color: #000;
}
h1 {
 
    text-align: center ;
    text-shadow: 1px 1px 1px  #fff;
}
img {
    float: right;
    margin: 3px;
}
div {
    margin: auto;
    margin-top: 20px;
  margin-left: 5px;
 
    width: 1320px;
    height: 1440px;
    background: #fff;
}
p{
    margin: 5px;
}
h3{
    margin: 5px; 
}
h2{
    margin-bottom: 1px;
}